.join-course-container {
  /* color: #fff; */
  color: #5E6C7D;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  margin-bottom: 30px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap:80px;
  width: 1200px;
  /* height: 100vh; */
  border-radius: 10px;
}
.join-course-info h1{
  font-size: 36px;
  font-weight: bolder; 
}

.join-course-trainer img{
  width: 100%;
  height: 550px;
  object-fit: cover;
}
.join-course-trainer h3{
  color:#247CE5;
}

.student-container ul {
  height: 100px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  align-items: center;
}

.student-container  button {
  width: 150px;
}
.student-container img{ 
  border: 50px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.student-container span{ 
  color: rgba(14, 12, 12, 0.596);
  width: fit-content;
}



