.join-course-container {
  /* color: #fff; */
  color: rgba(30, 31, 30, 0.678);
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;

}
.join-course-info h1{
  font-size: 42px;
  font-weight: bolder;
  
}

.join-course-trainer img{
  width: 300px;
  height:350px;
  position: relative;
}
.join-course-trainer h5{
 color:#191970;
}
.student-container ul {
  height: 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: first baseline;
  color: #333;
  background-color: #dcdcdc00;
  border-radius: 10px;

}

.student-container img{ 
  border: 50px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.student-container span{ 
  color: rgba(14, 12, 12, 0.596);
}

.student-container button{
  margin-top: 30px;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: x-large;
  width: 280px;
  height: 40px;
}


