.nav-bar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #031224;
  overflow-x: hidden;
  padding-top: 16px;
}

.nav-bar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #FFFFFF;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.nav-bar a:hover {
  color: #849BB6;
}

/* @media screen and (max-height: 450px) {
  .nav-bar {padding-top: 15px;}
  .nav-bar a {font-size: 18px;}
}  */