.profile-info {
  /* background-color: rgb(252, 249, 250); */
}
.profile-calendar{
  /* margin-top: 30px rgb(252, 249, 250); */
  background-color:rgb(255, 255, 255);
  margin: auto;
  
  padding: 10px; 
}