.profile-container{
  margin-bottom: 100px;
  border-radius: 8px;
  border: 30px;
  padding: 30px;
  width: 99%;
  box-shadow: 0 2px 10px #5E6C7D;
}
.profile-info-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  padding: 2px;
  margin-bottom: 5px;
  
}
.profile-info-container button{
  width: 200px;
  box-shadow: 0 2px 15px #5E6C7D;
}

.profile-info-container img{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-right: 50px;
}
.info{
  display: flex;
  gap: 20px;
  box-shadow: 0 2px 20px #5E6C7D;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}
.profile-calendar{
  margin: auto; 
  padding: 10px; 
  box-shadow: 0 3px 8px #247CE5;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
}

.private-calendar{
  margin: auto; 
  padding: 10px; 
  box-shadow: 0 3px 5px #247CE5;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
}

.profile-container h1{
  color: #4A73A6;
}
.private-calendar h4 { 
  color: #d89585;
  text-shadow: 1px 2px #cfdceb;
  
}

.profile-booking-container {
  color: #5E6C7D;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  box-shadow: 0 2px 15px #5E6C7D;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 30px;
  margin-left: 80px;
  width: 900px;
}

.profile-booking-container h4 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #247CE5;
}

.profile-booking-container textarea {
  height: 200px;
  width: 400px;
  border: 2px solid #5E6C7D;
  font-size: 16px;
  font-weight: 700;
  padding: 10px;
  color: #5E6C7D;
  margin-bottom: 20px;

}

.drop-down {
  width: 260px;
  height: 26px;
  font-size: medium;
  color: #5E6C7D;
}

.btn {
  margin-bottom: 100px;
}