.profile-container{
  margin-bottom: 100px;
}
.profile-info-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  padding: 5px;
  width: 100%;
  margin-bottom: 50px;
}
.name h5 {
  text-align: right;
}
.profile-info-container img{
  border-radius: 50%;
}
.profile-calendar{
  margin: auto; 
  padding: 10px; 
}
.pofile-cancle-container{
}