.student-card {
  width: 220px;
  border: 1px solid #4A73A6;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  
}
.student-card img {
  width: 50%;
  height: 120px;
  object-fit: cover;
}


.student-card:hover {
  box-shadow: 0 8px 16px 0 #5E6C7D;
}

.stu-info p {
  font-size: 14px;
} 

