body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-bar{
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.nav-bar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.nav-bar a:hover {
  color: #f1f1f1;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



/* .trainer-container {
  background-color: #f7f8fc;
  font-family: serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
} */



.trainer-container {
  background-color: #f7f8fc;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(5, 1fr);
  gap:20px;
}

.trainer-card{
  width: 500px;
  height: 600px;
  background-color: rgb(219, 144, 144);
  border-radius: 10px;
  box-shadow: 0 2px 20px rgb(15, 15, 15);
  overflow: hidden;

}

.header img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  min-height: 250px;
  gap: 20px;
}

.trainer-container > li{
  gap: 20px;
  border-color: burlywood;
}


.home{
    position: absolute;
    left: 0;
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
    background-image: url('https://svite-league-apps-content.s3.amazonaws.com/bgimages/steel-silhouette.jpg') ;
    opacity: 70%;   

}

.join-course-container{
  background-color: burlywood;
  inline-size: auto;
  
}



