* {
  box-sizing: border-box;
}


body {
  margin: 0;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(0, 0, 0);
}


.main-container {
  position: relative;
  /* display: flex; */
  margin-left: 160px; 
  margin-right: 160px; 
  margin-top: 0;
  border: 0;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  /* box-shadow: 0 2px 20px rgba(0,0,0,0.1);
  overflow: hidden; */
}

.banner{
  background-color: rgb(0, 0, 0);
  height: 80px;
  width: 100%;
  text-align: center;
  
}
.banner h1 {
  position: relative;
  margin-top: 50px;
  color: rgb(203, 211, 211);
  /* border: 0; */
}

.test{
  width: 900px;
  height: 900px;
  background-color: bisque;
}

.coach-calendar-container {
  background-color: rgb(250, 245, 247);
  position: relative;
  width: 1300px;
  border: 3px solid rgb(37, 37, 37);
  padding: 2 px 10px; 
  border-radius: 10px;
  /* box-shadow: 0 2px 20px rgb(15, 15, 15); */
  box-shadow: 0 2px 20px rgb(255, 254, 254);
  overflow: hidden;
  
}

.coach-calendar-container h1{
  margin-top: 50px;
}


/* .coach-calendar { 
  position: relative;
  margin: auto;
  width: 800px;
  border: 3px solid #777;
  padding: 2 px 10px; 
} */


.trainer-div{
  margin-left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  height: 100vh;
  
}
.trainer-div .trainer-card{ 
  background-color: rgb(248, 242, 233);
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap:20px;
  width: 630px;
  height: 550px;
  border-radius: 10px;
  /* box-shadow: 0 2px 20px rgb(15, 15, 15); */
  box-shadow: 0 2px 20px rgb(255, 254, 254);
  overflow: hidden;
  
}
.join-course-container {
  color: #fff;
  align-items: center;
  justify-content: center;
}

.join-course-trainer img{
  width: 500px;
  height: 700px;
  position: relative;
  
}
.student-container ul{
  position: relative;
  display: flex;
  color: #333;
  background-color: #FFEBCD;
  border-radius: 5px;
  box-shadow: 0 2px 20px rgb(255, 254, 254);;
}
.student-container img{
  border-radius: 50%;
}

.student-container button{
  margin-top: 30px;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: x-large;
  width: 300px;
  height: 30px;
}

.comment {
  display: grid;
  align-items: center;
  gap:20px;
  width: 500px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgb(15, 15, 15);
  overflow: hidden;
}

.header img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-body {
  /* display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  min-height: 250px;
  gap: 20px; */
} 


.home{
    /* position: absolute;
    left: 0;
    overflow: hidden;
    min-width: 100%;
    min-height: 100%; */
}

.container {
  position: relative;
  display: inline-block;
}
.button {
  padding: 0;
  width: 50px;
  border: 0;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  outline: 0;
  font-size: 40px;
}

.trainer-image{
  width: 300px;
  height:350px;
  background-color: rgb(209, 201, 201);
  border-radius: 10px;
  box-shadow: 0 2px 20px rgb(15, 15, 15);
  object-fit: cover;
  overflow: hidden;

}